:focus {
	outline:none;
}

.fortune{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    height: 800px;
}
.phrase{
    text-align: center;
    letter-spacing: 18pt;
}
.leftSide {
	color: red;
        float: left;
        width: 750px;
}

.rightSide {
	color: blue;
        float: right;
        width: 250px;
}

.clear{
    content: "";
    clear: both;
}
.correctLetter{
    border: 1px solid green;
}
.incorrectLetter{
    border: 1px solid red;
}
.greenColor{
    color: green;
}
.button_letter, .guessLetter {
  width: 30px;
  height: 30px;
  background-color: #cc99cc;
  color: #0e0e0e;
}

.border_radious, .guessLetter, #guessBtn {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

#guessBtn {
  width: 90px;
  height: 30px;
}


