#container{
    width: 1000px;
    border: 1px solid black;
    margin: 0 auto;   
}
body, html{
    margin:  0;
    padding: 0;
}
.mainHeader
{
    color: white;
    text-align: center;
    height: 200px;
    background-image: url('gory.jpg');
    background-repeat: no-repeat; 
}
#mainHeader > h1{
    opacity: 0.3;
    background-color: white;
}
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.menu > li {
    display: inline-block;
}
ul.menu > li > a{
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14pt;
    color: black;
}
ul.menu > li > a:hover{
    background-color: lightcyan;
}
label {
    display: inline-block;
    width: 70px;    
}
input, textarea {
    background-color:aqua;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;   
}
#contact > p > label {
font-size: 12pt;
}
section {
    font-family: verdana;
}
#contact > p > button{
    margin-left: 100px;   
}
#contact > p > button{
    margin-left: 100px;   
}
#contact > p > button:hover{
  background-color: indianred;
}
section {
    display: none;
}
.dBlock{
    display: block;
}